################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/primeiro-projeto/.vs/primeiro-projeto/FileContentIndex/bc1914a0-d6c4-4565-aad0-1bd1dff7c1c1.vsidx
